:root {
  --text-color: #212121;
  --title-color: #ffffff;
  --subtext-color: #757575;
  --bg-color: #2f303a;
  --subtitle-color: #2196f3;
  --text2-color: #000;
  --bg-color2: #f5f4fa;
  --bg-color3: #fff;
}

.container {
  width: 1200px;
  /* outline: solid red; */
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* header */

.header {
  padding-top: 25px;
  padding-bottom: 25px;
  background: var(--bg-color3);
  border-bottom: solid 1px #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
  gap: 50px;
  margin-left: 93px;
}

.header-title {
  color: var(--text2-color);
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

.header-span {
  color: var(--subtitle-color);
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
  margin-top: 24px;
  margin-bottom: 25px;
}

.header-link {
  position: relative;
  color: var(--text-color);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  text-decoration: none;
  display: inline-block;
}

.header-link:hover {
  color: var(--subtitle-color);
}

.header-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -28px;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
  transform: scaleX(0);
  transform-origin: left center;
  transition: transform 0.5s;
}

.header-link:hover::after {
  transform: scaleX(1);
}


.header-mail {
  color: var(--subtext-color);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  display: flex;
  margin-left: auto;
}

.header-tel {
  color: var(--subtext-color);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  display: flex;
  margin-left: 50px;
}

.header-contact:hover {
  color: var(--subtitle-color);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  display: flex;
}

.header-list2 {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-mail-icon {
  margin-right: 10px;
  fill: currentColor;
  width: 16px;
  height: 12px;
}

.header-contact {
  color: #757575;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  margin-right: 50px;
  display: flex;
  align-items: center;
}

.header-mail:hover,
.header-mail:focus {
  color: #2196f3;
}

.header-tel-icon {
  margin-right: 10px;
  fill: currentColor;
  width: 10px;
  height: 16px;
}

/* decision */

.decision {
  padding-top: 200px;
  padding-bottom: 200px;
}

.decision-title {
  color: var(--title-color);
  text-align: center;
  font-family: Roboto;
  font-size: 44px;
  font-style: normal;
  font-weight: 900;
  line-height: 60px;
  /* 136.364% */
  letter-spacing: 2.64px;
  text-transform: uppercase;
  max-width: 696px;
  display: flex;
  margin-bottom: 40px;
  margin: 0 auto;
}

.decision-button {
  color: var(--title-color);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  /* 187.5% */
  letter-spacing: 0.96px;
  border-radius: 4px;
  background: var(--subtitle-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  margin: 0 auto;
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
}

.decision {
  background: var(--bg-color);
  background-image: linear-gradient(to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)),
    url("../images/decision.webp");
  background-size: 1600px 600px;
  background-repeat: no-repeat;
}

/* Details */

.Details {
  padding-top: 94px;
  background: var(--bg-color3);
}

.Details-list {
  display: flex;
  gap: 30px;
}

.Details-title {
  color: var(--text-color);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  width: 270px;
  margin-bottom: 10px;
  margin-top: 30px;
}

.Details-text {
  color: var(--subtext-color);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 171.429% */
  letter-spacing: 0.42px;
  width: 270px;
  height: 72px;
  flex-shrink: 0;
}

.Details-art1::before {
  content: "";
  display: block;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background: #f5f4fa;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../images/antenna.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px 70px;
}

.Details-art2::before {
  content: "";
  display: block;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background: #f5f4fa;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../images/clock.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px 70px;
}

.list-item {
  position: relative;
  overflow: hidden;

}


.list-item:hover .overlay {
  opacity: 1;
  transform: translateY(0);
}

.overlay {
  width: 370px;
  height: 294px;
  background: rgba(33, 150, 243, 0.9);
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: translateY(100%);
  transition: transform 1s;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 63px;
  padding-bottom: 63px;
}

.overlay1-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
  color: #fff;
}

.list-thumb {
  position: relative;
  overflow: hidden;
  width: 370px;
  height: 294px;
}



.doing-wrapper {
  position: relative;
  overflow: hidden;
}

.doing-text {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  margin: 0;
  background: rgba(47, 48, 58, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.mailing-text {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
  padding-top: 72px;
  margin-right: 10px;
}

.mailing-input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  width: 358px;
  height: 50px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: rgba(33, 150, 243, 0);
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #fff;
}

.mailing-button {
  background-color: #2196F3;
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

}

span {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #fff;
}

.button-svg {
  fill: rgb(255, 255, 255);
  height: 24px;
  width: 24px;
}

.mailing-form {
  display: flex;
  gap: 12px;
}

.Details-art3::before {
  content: "";
  display: block;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background: #f5f4fa;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../images/diagram.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px 70px;
}

.Details-art4::before {
  content: "";
  display: block;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background: #f5f4fa;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../images/astronaut.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px 70px;
}

/* doing */

.doing {
  padding-top: 108px;
  padding-bottom: 94px;
  background: var(--bg-color3);
}

.doing-list {
  display: flex;
  gap: 30px;
  margin-top: 50px;
}

.doing-title {
  color: var(--text-color);
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
}

.doing-photo {
  width: 370px;
  height: 294px;
  flex-shrink: 0;
  background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}

.doing-photo {
  display: flex;
}

/* team */

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--bg-color2);
}

.team-list {
  display: flex;
  gap: 30px;
  margin-top: 50px;
}

.team-item {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  background: var(--bg-color3);
}

.team-title {
  color: var(--text-color);
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
}

.team-photo {
  width: 270px;
  height: 260px;
  flex-shrink: 0;
  background: url(<path-to-image>) lightgray -86.437px -3.457px / 196.208% 136.002% no-repeat;
  margin-bottom: 30px;
}

.team-subtitle {
  color: var(--text-color);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
  margin-bottom: 10px;
}

.team-text {
  color: var(--subtext-color);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
  margin-bottom: 28px;
}

.team-icon {
  width: 20px;
  height: 20px;
}

.team-list2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.team-link2 {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #ffffff;
  margin-bottom: 30px;
  fill: #afb1b8;
}

.team-link2:hover,
.team-link2:focus {
  background-color: #2196f3;
}

.team-link2:hover .team-icon,
.team-link2:focus .team-icon {
  fill: #ffffff;
}

/* client */

.client {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--bg-color3);
}

.client-title {
  color: #212121;

  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

.client-item {
  border-radius: 4px;
  border: 1px solid #afb1b8;
  width: 170px;
  height: 92px;
  padding-left: 32px;
  padding-bottom: 16px;
  padding-right: 32px;
  padding-top: 16px;
}

.client-icon {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
}

.client-item:hover .client-icon,
.client-item:focus .client-icon {
  fill: #2196f3;
  width: 106px;
  height: 60px;
}

.client-list {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.client-item:hover {
  border-radius: 4px;
  border: 1px solid #2196f3;
  width: 170px;
  height: 92px;
  padding-left: 32px;
  padding-bottom: 16px;
  padding-right: 32px;
  padding-top: 16px;
}

.client-icon:hover {
  width: 106px;
  height: 60px;
  fill: #2196f3;
}

/* footer */

.footer {
  background: var(--bg-color);
  padding-bottom: 60px;
}

.footer-container {
  display: flex;
  flex-direction: column;
}

.footer-title {
  color: var(--title-color);
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
  padding-top: 60px;
}

.footer-span {
  color: var(--subtitle-color);
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

.foooter-address {
  color: var(--title-color);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 171.429% */
  letter-spacing: 0.42px;
  width: 231px;
  height: 21px;
  flex-shrink: 0;
  margin-top: 20px;
}

.footer-mail {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 171.429% */
  letter-spacing: 0.42px;
  width: 136px;
  height: 21px;
  flex-shrink: 0;
  margin-bottom: 9px;
  margin-top: 9px;
}

.footer-tel {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 171.429% */
  letter-spacing: 0.42px;
  width: 231px;
  height: 21px;
  flex-shrink: 0;
}

.footer-text {
  color: #fff;

  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-top: 72px;
}

.footer-lists {
  display: flex;
  gap: 70px;
}

.footer-icon {
  width: 20px;
  height: 20px;
  fill: var(--title-color);
}

.footer-list3 {
  display: flex;
  gap: 10px;
}

.footer-item3 {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-item3:hover {
  width: 44px;
  height: 44px;
  background-color: #2196f3;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* button */
.button {
  padding-top: 94px;
  background: var(--bg-color3);
}

.button-list {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-content: center;
}

.button-buttton:hover {
  color: var(--title-color);
  background-color: var(--subtitle-color);
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  /* 162.5% */
  letter-spacing: 0.48px;
}

.button-buttton {
  color: var(--text-color);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  /* 162.5% */
  letter-spacing: 0.48px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  border-radius: 4px;
}

.button-list:nth-child(1) {
  flex-basis: 73px;
  height: 38px;
  flex-shrink: 0;
}

.button-list:nth-child(2) {
  flex-basis: 125px;
  height: 38px;
  flex-shrink: 0;
}

.button-list:nth-child(3) {
  flex-basis: 112px;
  height: 38px;
  flex-shrink: 0;
}

.button-list:nth-child(4) {
  flex-basis: 103px;
  height: 38px;
  flex-shrink: 0;
}

.button-list:nth-child(5) {
  flex-basis: 130px;
  height: 38px;
  flex-shrink: 0;
}

/* list */

.list {
  padding-top: 50px;
  padding-bottom: 94px;
  background: var(--bg-color3);
}

.list-box {
  padding-left: 24px;
  padding-bottom: 20px;
  padding-right: 24px;
}

.list-photo {
  flex-basis: 370px;
  height: 294px;
  flex-shrink: 0;
  background: url(<path-to-image>) lightgray 50% / cover no-repeat;
  margin-bottom: 20px;
}

.list-title {
  color: var(--text-color);
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  /* 200% */
  letter-spacing: 1.08px;
  width: 322px;
  padding-bottom: 4px;
}

.list-subtitle {
  color: var(--subtext-color);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  /* 187.5% */
  letter-spacing: 0.48px;
  width: 322px;
}

.list-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.list-item {
  height: 404px;
  flex-shrink: 0;
  flex-basis: calc((100% - (30px * 2)) / 3);
  outline: 1px solid #eee;
}

.list-item:hover {
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.20);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: relative;
  padding: 40px;
  width: 528px;
  height: 581px;
  flex-shrink: 0;
  border-radius: 4px;
  background: rgb(255, 255, 255);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
}

.modal-tittle {
  color: rgb(33, 33, 33);
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  margin-bottom: 12px;
}

.modal-input {
  /* position: relative; */
  width: 448px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.20);
  padding-left: 42px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: 10px;
}

.modal-input :focus {
  border: 1px solid rgb(33, 150, 243);
  fill: rgb(33, 150, 243);
}

.modal-text {
  color: rgb(87, 87, 87);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  margin-bottom: 4px;
}

.modal-svg {
  position: absolute;
  width: 18px;
  height: 18px;
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 11px;
  margin-bottom: 11px;
}

.modal-box {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: solid rgba(0, 0, 0, 0.10) 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 8px;
  top: 8px;
}

.modal-box>.modal-close:hover {
  fill: rgba(33, 150, 243, 1);
}

.modal-close {
  width: 18px;
  height: 18px;
}

.modal-comment {
  color: rgb(94, 93, 93);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  width: 100%;
  width: 448px;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.20);
  padding: 12px 16px 12px 16px;
}

.checkbox-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.checkbox-text {
  color: #757575;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  margin-left: 8.38px;
}

.checkbox-a {
  color: rgb(33, 150, 243);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.checkbox {
  width: 16px;
  height: 15px;
  background-color: rgb(33, 33, 33);
}

.checkbox:checked {
  background-color: rgb(33, 150, 243);
}

.modal-button {
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  width: 200px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #2196F3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin-left: 124px;
  margin-top: 30px;
  margin-right: 124px;
}

.is-hidden {
  display: none;
}