@charset "UTF-8";
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

.container {
  width: 1200px;
  /* outline: solid red; */
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: scale(0.8);
  opacity: 0;
}

.modal {
  background-color: #fff;
  padding: 40px;
  border-radius: 4px;
  transform: scale(1);
  opacity: 1;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__tittle {
  color: rgb(33, 33, 33);
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  margin-bottom: 12px;
}
.modal__input {
  width: 448px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 42px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: 10px;
}
.modal__input:focus {
  border: 1px solid rgb(33, 150, 243);
  fill: rgb(33, 150, 243);
}
.modal__text {
  color: rgb(87, 87, 87);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  margin-bottom: 4px;
}
.modal__svg {
  position: absolute;
  width: 18px;
  height: 18px;
  margin: 11px 12px;
}
.modal__box {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: solid rgba(0, 0, 0, 0.1) 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 8px;
  top: 8px;
}
.modal__box > .modal-close:hover {
  fill: rgb(33, 150, 243);
}
.modal__close {
  width: 18px;
  height: 18px;
}
.modal__comment {
  color: rgb(94, 93, 93);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  width: 448px;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding: 12px 16px;
}
.modal__button {
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  width: 200px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin: 30px 124px 0;
}

.checkbox {
  width: 16px;
  height: 15px;
  background-color: rgb(33, 33, 33);
}
.checkbox:checked {
  background-color: rgb(33, 150, 243);
}
.checkbox__box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.checkbox__text {
  color: #757575;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  margin-left: 8.38px;
}
.checkbox__a {
  color: rgb(33, 150, 243);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.header {
  padding-top: 25px;
  padding-bottom: 25px;
  background: #fff;
  border-bottom: 1px solid #ececec;
}
.header__container {
  display: flex;
  align-items: center;
}
.header__logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
  color: #212121;
  display: flex;
  align-items: center;
  gap: 0;
}
.header__logo--accent {
  color: #2196f3;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  margin-right: 0;
}
.header__nav {
  margin-left: 93px;
}
.header__nav-list {
  display: flex;
  gap: 50px;
}
.header__nav-link {
  position: relative;
  color: #212121;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -28px;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  transform: scaleX(0);
  transform-origin: left center;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__nav-link:hover, .header__nav-link:focus {
  color: #2196f3;
}
.header__nav-link:hover::after, .header__nav-link:focus::after {
  transform: scaleX(1);
}
.header__nav-link--active::after {
  transform: scaleX(1);
}
.header__contacts-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin-left: auto;
}
.header__contacts-link {
  color: #757575;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  display: flex;
  align-items: center;
  margin-right: 50px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__contacts-link--mail {
  margin-right: 0;
}
.header__contacts-link--tel {
  margin-left: 50px;
  margin-right: 0;
}
.header__contacts-link:hover, .header__contacts-link:focus {
  color: #2196f3;
}
.header__contacts-icon {
  margin-right: 10px;
  fill: currentColor;
  width: 16px;
  height: 16px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__contacts-link:hover .header__contacts-icon, .header__contacts-link:focus .header__contacts-icon {
  fill: #2196f3;
}

.decision {
  padding-top: 200px;
  padding-bottom: 200px;
  background: var(--bg-color);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/decision.webp");
  background-size: 1600px 600px;
  background-repeat: no-repeat;
}
.decision__title {
  color: var(--title-color);
  text-align: center;
  font-family: Roboto;
  font-size: 44px;
  font-style: normal;
  font-weight: 900;
  line-height: 60px; /* 136.364% */
  letter-spacing: 2.64px;
  text-transform: uppercase;
  max-width: 696px;
  display: flex;
  margin-bottom: 40px;
  margin: 0 auto;
}
.decision__button {
  color: var(--title-color);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.96px;
  border-radius: 4px;
  background: var(--subtitle-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  margin: 0 auto;
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
}

.details {
  padding-top: 94px;
  background: var(--bg-color3);
}
.details__list {
  display: flex;
  gap: 30px;
}
.details__title {
  color: var(--text-color);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  width: 270px;
  margin: 30px auto 10px;
}
.details__text {
  color: var(--subtext-color);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
  width: 270px;
  height: 72px;
  flex-shrink: 0;
}
.details__art1::before, .details__art2::before, .details__art3::before, .details__art4::before {
  content: "";
  display: block;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background: #f5f4fa;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px 70px;
}
.details__art1::before {
  background-image: url("../images/antenna.svg");
}
.details__art2::before {
  background-image: url("../images/clock.svg");
}
.details__art3::before {
  background-image: url("../images/diagram.svg");
}
.details-art4::before {
  background-image: url("../images/astronaut.svg");
}

.doing {
  padding-top: 108px;
  padding-bottom: 94px;
  background: var(--bg-color3);
}
.doing__wrapper {
  position: relative;
  overflow: hidden;
}
.doing__text {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  margin: 0;
  background: rgba(47, 48, 58, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.doing__list {
  display: flex;
  gap: 30px;
  margin-top: 50px;
}
.doing__title {
  color: var(--text-color);
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
}
.doing__photo {
  width: 370px;
  height: 294px;
  flex-shrink: 0;
  background: url(<path-to-image>) lightgray 50%/cover no-repeat;
  display: flex;
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--bg-color2);
}
.team__list {
  display: flex;
  gap: 30px;
  margin-top: 50px;
}
.team__item {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  background: var(--bg-color3);
}
.team__title {
  color: var(--text-color);
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
}
.team__photo {
  width: 270px;
  height: 260px;
  flex-shrink: 0;
  background: url(<path-to-image>) lightgray -86.437px -3.457px/196.208% 136.002% no-repeat;
  margin-bottom: 30px;
}
.team__subtitle {
  color: var(--text-color);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
  margin-bottom: 10px;
}
.team__text {
  color: var(--subtext-color);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
  margin-bottom: 28px;
}
.team__icon {
  width: 20px;
  height: 20px;
}
.team__list2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.team__link2 {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #ffffff;
  margin-bottom: 30px;
  fill: #afb1b8;
}
.team__link2:hover, .team__link2:focus {
  background-color: #2196f3;
}
.team__link2:hover .team-icon, .team__link2:focus .team-icon {
  fill: #ffffff;
}

.client {
  padding: 94px 0;
  background-color: var(--bg-color3);
}
.client__title {
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}
.client__list {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
.client__item {
  border-radius: 4px;
  border: 1px solid #afb1b8;
  width: 170px;
  height: 92px;
  padding: 16px 32px;
}
.client__item:hover {
  border: 1px solid #2196f3;
}
.client__item:hover .client-icon {
  fill: #2196f3;
  width: 106px;
  height: 60px;
}
.client__item:focus .client-icon {
  fill: #2196f3;
  width: 106px;
  height: 60px;
}
.client__icon {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
}
.client__icon:hover {
  fill: #2196f3;
  width: 106px;
  height: 60px;
}

.footer {
  background: #2f303a;
  padding-bottom: 60px;
}

.footer__container {
  display: flex;
  flex-direction: column;
}

.footer__title {
  color: var(--title-color);
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
  padding-top: 60px;
}

.footer__span {
  color: var(--subtitle-color);
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

.foooter__address {
  color: var(--title-color);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 171.429% */
  letter-spacing: 0.42px;
  width: 231px;
  height: 21px;
  flex-shrink: 0;
  margin-top: 20px;
}

.footer__mail {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 171.429% */
  letter-spacing: 0.42px;
  width: 136px;
  height: 21px;
  flex-shrink: 0;
  margin-bottom: 9px;
  margin-top: 9px;
}

.footer__tel {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 171.429% */
  letter-spacing: 0.42px;
  width: 231px;
  height: 21px;
  flex-shrink: 0;
}

.footer__text {
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-top: 72px;
}

.footer__lists {
  display: flex;
  gap: 70px;
}

.footer__icon {
  width: 20px;
  height: 20px;
  fill: var(--title-color);
}

.footer__list3 {
  display: flex;
  gap: 10px;
}

.footer__item3 {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__item3:hover {
  width: 44px;
  height: 44px;
  background-color: #2196f3;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mailing__text {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
  padding-top: 72px;
  margin-right: 10px;
}

.mailing__input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  width: 358px;
  height: 50px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: rgba(33, 150, 243, 0);
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #fff;
}

.mailing__button {
  background-color: #2196F3;
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

span {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #2196f3;
}

.button__svg {
  fill: rgb(255, 255, 255);
  height: 24px;
  width: 24px;
}

.mailing__form {
  display: flex;
  gap: 12px;
}

.client__title {
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

.client__item {
  border-radius: 4px;
  border: 1px solid #afb1b8;
  width: 170px;
  height: 92px;
  padding-left: 32px;
  padding-bottom: 16px;
  padding-right: 32px;
  padding-top: 16px;
}

.button {
  padding-top: 94px;
  background: var(--bg-color3);
}
.button__list {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-content: center;
}
.button__list:nth-child(1) {
  flex-basis: 73px;
  height: 38px;
  flex-shrink: 0;
}
.button__list:nth-child(2) {
  flex-basis: 125px;
  height: 38px;
  flex-shrink: 0;
}
.button__list:nth-child(3) {
  flex-basis: 112px;
  height: 38px;
  flex-shrink: 0;
}
.button__list:nth-child(4) {
  flex-basis: 103px;
  height: 38px;
  flex-shrink: 0;
}
.button__list:nth-child(5) {
  flex-basis: 130px;
  height: 38px;
  flex-shrink: 0;
}
.button__buttton {
  color: var(--text-color);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 162.5% */
  letter-spacing: 0.48px;
  padding: 6px 22px;
  border-radius: 4px;
}
.button__buttton:hover {
  color: var(--title-color);
  background-color: var(--subtitle-color);
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 162.5% */
  letter-spacing: 0.48px;
}

.list {
  padding-top: 50px;
  padding-bottom: 94px;
  background: var(--bg-color3);
}
.list__box {
  padding: 0 24px 20px 24px;
}
.list__photo {
  flex-basis: 370px;
  height: 294px;
  flex-shrink: 0;
  background: url(<path-to-image>) lightgray 50%/cover no-repeat;
  margin-bottom: 20px;
}
.list__title, .list__subtitle {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list__title {
  color: var(--text-color);
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 1.08px;
  width: 322px;
  padding-bottom: 4px;
}
.list__subtitle {
  color: var(--subtext-color);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.48px;
  width: 322px;
}
.list__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.list__item {
  height: 404px;
  flex-shrink: 0;
  flex-basis: calc((100% - 60px) / 3);
  outline: 1px solid #eee;
  position: relative;
  overflow: hidden;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list__item:hover {
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
}
.list__item:hover .overlay {
  opacity: 1;
  transform: translateY(0);
}
.list__thumb {
  position: relative;
  overflow: hidden;
  width: 370px;
  height: 294px;
}

.overlay {
  width: 370px;
  height: 294px;
  background: rgba(33, 150, 243, 0.9);
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 63px 24px;
}
.overlay__text1 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
  color: #fff;
}

/* Кнопки */
.decision-button,
.mailing-button,
.modal-button {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.decision-button:hover, .decision-button:focus,
.mailing-button:hover,
.mailing-button:focus,
.modal-button:hover,
.modal-button:focus {
  background-color: #2196f3;
  color: #fff;
  box-shadow: 0 4px 20px rgba(33, 150, 243, 0.3);
}

/* Кнопки фільтрів */
.button-buttton {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}/*# sourceMappingURL=style.css.map */