@import "./base/reset";
@import "./base/common";
@import "./utills/vars";
@import "./utills/placeholders";
@import "./utills/mixins";
@import "./utills/keyframes";
@import "./components/header";
@import "./components/hero";
@import "./components/about";
@import "./components/doing";
@import "./components/team";
@import "./components/regular";
@import "./components/footer";
@import "./components/modal";
@import "./components/menu";
@import "./components/top";