.about {
    padding-top: 60px;
    padding-bottom: 60px;


    @media screen and (min-width: 480px) {}

    @media screen and (min-width: 768px) {}

    @media screen and (min-width: 1280px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }

    &__list {
        @include flex-position($space: 30px);


        @media screen and (min-width: 480px) {}

        @media screen and (min-width: 768px) {}

        @media screen and (min-width: 1280px) {
            @include flex-position($space: 23px, $wrap: nowrap);
        }

    }

    &__item {
        width: 100%;
        max-width: 450px;
        background-size: 70px 70px;


        @media screen and (min-width: 480px) {
            width: 450px;
        }

        @media screen and (min-width: 768px) {
            width: 354px;
        }

        @media screen and (min-width: 1280px) {
            width: 285px;
        }

        &::before {
            background-size: 70px 70px;
            display: block;
            background-repeat: no-repeat;
            background-color: #F5F4FA;
            background-position: center;
            margin-bottom: 30px;
            width: 100%;
            max-width: 450px;
            height: 120px;


            @media screen and (min-width: 480px) {
                width: 450px;
            }

            @media screen and (min-width: 768px) {
                width: 354px;
            }

            @media screen and (min-width: 1280px) {
                width: 270px;
            }

        }

        &:nth-child(1)::before {
            content: "";
            background-image: url("../images/antenna.webp");
        }

        &:nth-child(2)::before {
            content: "";
            background-image: url("../images/clock.webp");

        }

        &:nth-child(3)::before {
            content: "";
            background-image: url("../images/diagram.webp");


        }

        &:nth-child(4)::before {
            content: "";
            background-image: url("../images/astronaut.webp");

        }
    }

    &__title {
        color: $title-color;
        font-size: 14px;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.42px;
        text-transform: uppercase;
        margin-bottom: 10px;
        font-weight: 700;
        width: 100%;
        max-width: 354px;

        @media screen and (min-width: 480px) {
            width: 354px;
        }

        @media screen and (min-width: 768px) {}

        @media screen and (min-width: 1280px) {
            letter-spacing: 0.03em;
            width: 270px;
        }

    }

    &__text {
        @extend %li-text;
        font-weight: 400;
        font-size: 14px;
        line-height: 171%;
        letter-spacing: 0.03em;
        width: 100%;
        max-width: 354px;



        @media screen and (min-width: 480px) {}

        @media screen and (min-width: 768px) {
            height: 50px;
        }

        @media screen and (min-width: 1280px) {
            letter-spacing: 0.42px;
            width: 270px;
            height: 72px;
            line-height: 24px;
        }
    }
}