.decision {
  background-color: $background-color;
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40) 10%), url("../../images/decision.webp");
  background-repeat: no-repeat;


  @media screen and (min-width: 480px) {}

  @media screen and (min-width: 768px) {}

  @media screen and (min-width: 1280px) {
    padding-top: 200px;
    padding-bottom: 200px;
  }

  &__title {
    color: $color-bg3;
    text-align: center;
    font-family: Roboto;
    font-size: 44px;
    font-style: normal;
    font-weight: 900;
    line-height: 60px;
    /* 136.364% */
    letter-spacing: 2.64px;
    text-transform: uppercase;
    max-width: 696px;
    display: flex;
    margin-bottom: 40px;
    margin: 0 auto;
  }

  &__button {
    color: $color-bg3;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    /* 187.5% */
    letter-spacing: 0.96px;
    border-radius: 4px;
    background: $color-accent;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    margin: 0 auto;
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 32px;
    padding-right: 32px;
  }
}