.details {
  padding-top: 94px;
  background: var(--bg-color3);

  &__list {
    display: flex;
    gap: 30px;
  }

  &__title {
    color: var(--text-color);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    width: 270px;
    margin: 30px auto 10px;
  }

  &__text {
    color: var(--subtext-color);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.42px;
    width: 270px;
    height: 72px;
    flex-shrink: 0;
  }

  &__art1::before,
  &__art2::before,
  &__art3::before,
  &__art4::before {
    content: "";
    display: block;
    width: 270px;
    height: 120px;
    border-radius: 4px;
    background: #f5f4fa;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70px 70px;
  }

  &__art1::before {
    background-image: url("../images/antenna.svg");
  }

  &__art2::before {
    background-image: url("../images/clock.svg");
  }

  &__art3::before {
    background-image: url("../images/diagram.svg");
  }

  &-art4::before {
    background-image: url("../images/astronaut.svg");
  }
}
