.doing {

    display: none;

    @media screen and (min-width: 480px) {}

    @media screen and (min-width: 768px) {}

    @media screen and (min-width: 1280px) {
        display: block;
        padding-bottom: 94px;
        background: #FFF;
    }



    &__title {
        @extend %title-sections;

    }

    &__list {
        @include flex-position($space: 30px);
    }

    &__item {
        position: relative;
    }

    &__img {
        width: 370px;
    }

    &__text {
        color: $accent-color;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.42px;
        text-transform: uppercase;
        position: absolute;
        z-index: 2;
        text-align: center;

        background-color: rgba(47, 48, 58, 0.80);
        width: 370px;
        height: 70px;
        flex-shrink: 0;
        bottom: 0;
        width: 100%;
        padding-top: 27px;
        padding-bottom: 27px;
    }
}