.footer {
    background: $background-color;
    padding-top: 60px;
    padding-bottom: 60px;




    &__section {
        @include flex-position($direction: column);

        @media screen and (min-width: 480px) {}

        @media screen and (min-width: 768px) {
            @include flex-position($direction: row);
            align-items: start;
        }

        @media screen and (min-width: 1280px) {}
    }

    &__logo {
        color: $link-color;
        font-family: Raleway;
        font-size: 24px;
        letter-spacing: 0.03em;
        font-weight: 700;
        line-height: normal;
        // margin-left: auto;
        // margin-right: auto;
        display: block;
        text-align: center;

        @media screen and (min-width: 480px) {}

        @media screen and (min-width: 768px) {
            letter-spacing: 0.03em;


        }

        @media screen and (min-width: 1280px) {
            font-size: 26px;
            letter-spacing: 0.78px;
            text-align: start;

        }
    }

    &__span {
        color: #fff;
        font-family: Raleway;
        font-size: 24px;
        letter-spacing: 0.03em;
        font-weight: 700;
        line-height: normal;

        @media screen and (min-width: 480px) {}

        @media screen and (min-width: 768px) {
            letter-spacing: 0.03em;
        }

        @media screen and (min-width: 1280px) {
            font-size: 26px;
            letter-spacing: 0.78px;
        }
    }

    &__text {
        color: $accent-color;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 171%;
        letter-spacing: 0.03em;
        margin-top: 20px;
        display: block;
        text-align: center;


        @media screen and (min-width: 480px) {}

        @media screen and (min-width: 768px) {}

        @media screen and (min-width: 1280px) {
            letter-spacing: 0.42px;
            line-height: 24px;
            text-align: right;
        }


    }

    &__email {
        color: $second-text-color;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        line-height: 171%;
        letter-spacing: 0.03em;
        margin-top: 8px;
        margin-bottom: 8px;
        display: block;
        text-align: center;

        @media screen and (min-width: 480px) {}

        @media screen and (min-width: 768px) {}

        @media screen and (min-width: 1280px) {
            letter-spacing: 0.42px;
            line-height: 24px;
            margin-top: 9px;
            margin-bottom: 9px;
            text-align: start;
        }
    }

    &__number {
        color: $second-text-color;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 0.42px;
        line-height: 24px;
        text-align: center;

        @media screen and (min-width: 480px) {}

        @media screen and (min-width: 768px) {}

        @media screen and (min-width: 1280px) {
            letter-spacing: 0.42px;
            line-height: 24px;
            text-align: left;
        }
    }

    &__box {
        display: flex;
        flex-direction: column;
        margin-top: 60px;


        @media screen and (min-width: 480px) {}

        @media screen and (min-width: 768px) {
            margin-left: 162px;
            margin-bottom: 0;
            margin-top: 0;

        }

        @media screen and (min-width: 1280px) {
            margin-left: 70px;

        }

    }

    &__join {
        color: #FFF;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.03em;
        text-transform: uppercase;

        margin-bottom: 20px;
        display: block;
        text-align: center;

        @media screen and (min-width: 480px) {}


        @media screen and (min-width: 768px) {}

        @media screen and (min-width: 1280px) {
            letter-spacing: 0.42px;
            text-align: left;
        }
    }

    &__socials {

        @include flex-position($space: 10px, $wrap: wrap);
    }

    &__link {
        color: $accent-color;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        font-size: 20px;
        background-color: rgba(255, 255, 255, 0.10);
        @extend %transition;

        &:hover {
            background-color: $link-color;

        }

    }


    &__svg {
        @extend %socials-svg;
        fill: #FFFFFF;

    }

    &__form-box {


        @media screen and (min-width: 768px) {
            margin-right: auto;
            margin-left: auto;
        }

        @media screen and (min-width: 1280px) {
            margin-left: 105px;
            margin-bottom: 0;
            margin-top: 0;
        }
    }

    &__title {
        color: $accent-color;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        display: block;
        text-align: center;

        @media screen and (min-width: 480px) {}


        @media screen and (min-width: 768px) {}

        @media screen and (min-width: 1280px) {
            letter-spacing: 0.42px;
            text-align: start;


        }
    }

    &__form {
        margin-top: 20px;
        @include flex-position($horizontally: center);

    }

    &__input {
        width: 358px;
        height: 50px;
        flex-shrink: 0;
        border-radius: 4px;
        border: 1px solid rgba(255, 255, 255, 0.30);
        background: rgba(33, 150, 243, 0.00);
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        color: #FFF;
        width: 100%;

        &::placeholder {
            padding-left: 12px;
        }
    }

    &__label {
        width: 100%;
        max-width: 450px;

        @media screen and (min-width: 480px) {}

        @media screen and (min-width: 768px) {
            width: 450px;
        }

        @media screen and (min-width: 1280px) {
            width: 356px;
        }
    }



    &__button {
        border-radius: 4px;
        background: $link-color;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        width: 200px;
        height: 50px;
        @include flex-position($horizontally: center);
        gap: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 28px;
        padding-right: 28px;
        margin-top: 20px;
        margin-right: auto;
        margin-left: auto;


        @media screen and (min-width: 480px) {}

        @media screen and (min-width: 768px) {}

        @media screen and (min-width: 1280px) {
            margin-top: 0;
            margin-left: 16px;
            margin-right: 0;
        }
    }

    &__button-text {
        color: $accent-color;
        text-align: center;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 700;
        line-height: 187%;
        letter-spacing: 0.06em;


        @media screen and (min-width: 480px) {}



        @media screen and (min-width: 768px) {}

        @media screen and (min-width: 1280px) {
            line-height: 30px;
            letter-spacing: 0.96px;
        }
    }

    &__subscribe {
        width: 24px;
        height: 24px;
        flex-shrink: 0;
        fill: $svg-fill;
    }

    &__flex-box {
        display: flex;
        flex-direction: column;
        margin-top: 60px;

        @media screen and (min-width: 480px) {}


        @media screen and (min-width: 768px) {}

        @media screen and (min-width: 1280px) {
            align-items: end;
            flex-direction: row;
            margin-top: 0;
        }
    }
}