.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  visibility: visible;

  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}


.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  background-color: #fff;
  padding: 40px;
  border-radius: 4px;
  
  transform: scale(1);
  opacity: 1;
  transition:
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: scale(0.8);
  opacity: 0;
}


.backdrop.is-hidden .modal {
  transform: scale(0.8);
  opacity: 0;
}

.modal-tittle {
  color: rgb(33, 33, 33);
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  margin-bottom: 12px;
}

.modal-input {
  /* position: relative; */
  width: 448px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.20);
  padding-left: 42px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: 10px;
}

.modal-input :focus {
  border: 1px solid rgb(33, 150, 243);
  fill: rgb(33, 150, 243);
}

.modal-text {
  color: rgb(87, 87, 87);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  margin-bottom: 4px;
}

.modal-svg {
  position: absolute;
  width: 18px;
  height: 18px;
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 11px;
  margin-bottom: 11px;
}

.modal-box {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: solid rgba(0, 0, 0, 0.10) 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 8px;
  top: 8px;
}

.modal-box>.modal-close:hover {
  fill: rgba(33, 150, 243, 1);
}

.modal-close {
  width: 18px;
  height: 18px;
}

.modal-comment {
  color: rgb(94, 93, 93);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  width: 100%;
  width: 448px;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.20);
  padding: 12px 16px 12px 16px;
}

.checkbox-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.checkbox-text {
  color: #757575;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  margin-left: 8.38px;
}

.checkbox-a {
  color: rgb(33, 150, 243);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.checkbox {
  width: 16px;
  height: 15px;
  background-color: rgb(33, 33, 33);
}

.checkbox:checked {
  background-color: rgb(33, 150, 243);
}

.modal-button {
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  width: 200px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #2196F3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin-left: 124px;
  margin-top: 30px;
  margin-right: 124px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}