.backdrop {
    background: rgba(0, 0, 0, 0.20);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}



.modal {
    background-color: #FFFFFF;
    border-radius: 4px;
    transform: scale(1) translate(0, 0);
    @extend %transition;
    position: relative;
    max-width: 450px;
    width: 100%;
    height: 609px;
    padding: 40px;

    @media screen and (min-width: 480px) {}

    @media screen and (min-width: 768px) {}

    @media screen and (min-width: 1280px) {
        width: 528px;
        height: 581px;
        
    }

}

.is-hidden .modal {
    transform: scale(0.5) translate(0, 500px)
}

.modal-close-button {
    position: absolute;
    top: 8px;
    right: 8px;
    border: 1px solid #FFF;
    border-radius: 50%;
    padding: 6px 6px;
}

.modal-close {
    width: 18px;
    height: 18px;
    flex-shrink: 0;
}

.modal-close:hover {
    fill: #2196F3;

}

.modal-title {
    color: #212121;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.6px;
    margin-bottom: 12px;
}

.modal-text {
    color: #757575;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.12px;
    margin-bottom: 4px;
    margin-top: 10px;
}

.modal-comment {
    max-width: 370px;
    width: 100%;


    @media screen and (min-width: 480px) {}

    @media screen and (min-width: 768px) {}

    @media screen and (min-width: 1280px) {
        width: 448px;
        height: 120px;

    }
}

.modal-label {
    position: relative;
    /* outline: solid red; */
}

.modal-input {
    width: 448px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.20);
    @extend %transition;

    max-width: 370px;
    width: 100%;


    @media screen and (min-width: 480px) {}

    @media screen and (min-width: 768px) {}

    @media screen and (min-width: 1280px) {
        width: 448px;


    }
}


.modal-input:hover {
    border: 1px solid #2196F3;
}

.modal-comment::placeholder {
    padding: 16px 12px;
}



.modal-checkbox {
    width: 16px;
    height: 15px;
    flex-shrink: 0;
    border: solid #212121;
}

.modal-text-agreement {
    color: #757575;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
}

.modal-agreement {
    color: #2196F3;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.modal-box {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 30px;
    margin-top: 20px;
}

.modal-button {
    border-radius: 4px;
    background: #2196F3;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    width: 200px;
    height: 50px;
    flex-shrink: 0;

    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.96px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    @extend %transition;
}

.modal-button:hover {
    background-color: #188CE8;


}

.modal-svg-person {
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    position: absolute;
    top: 11px;
    left: 12px;
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
}