.header {
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #ECECEC;

    @media screen and (min-width: 480px) {}

    @media screen and (min-width: 768px) {
        padding-top: 26px;
        padding-bottom: 26px;
    }

    @media screen and (min-width: 1280px) {
        padding-top: 24px;
        padding-bottom: 25px;
    }


    &__nav {
        display: flex;
        justify-content: space-between;
        width: 100%;


        @media screen and (min-width: 480px) {}

        @media screen and (min-width: 768px) {
            @include flex-position();
        }

        @media screen and (min-width: 1280px) {
            font-size: 26px;
            letter-spacing: 0.78px;
        }
    }

    &__logo {
        color: $link-color;
        font-family: Raleway;
        font-size: 24px;
        letter-spacing: 0.03em;
        font-weight: 700;
        line-height: normal;

        @media screen and (min-width: 480px) {}

        @media screen and (min-width: 768px) {}

        @media screen and (min-width: 1280px) {
            font-size: 26px;
            letter-spacing: 0.78px;
        }
    }

    &__span {
        color: #000;
        font-family: Raleway;
        font-size: 24px;
        letter-spacing: 0.03em;
        font-weight: 700;
        line-height: normal;

        @media screen and (min-width: 480px) {}

        @media screen and (min-width: 768px) {
            margin-right: 87px;
        }

        @media screen and (min-width: 1280px) {
            margin-right: 91px;
        }

    }



    &__list {
        display: none;


        @media screen and (min-width: 480px) {}

        @media screen and (min-width: 768px) {
            @include flex-position($space: 50px);
        }

        @media screen and (min-width: 1280px) {
            @include flex-position($space: 50px);
        }

    }


    &__studio,
    &__contacts {
        display: none;
        @extend %transition;


        @media screen and (min-width: 480px) {}

        @media screen and (min-width: 768px) {
            font-weight: 500;
            font-size: 14px;
            letter-spacing: 0.02em;
            color: $title-color;
            position: relative;
            display: block;
        }

        @media screen and (min-width: 1280px) {
            font-size: 14px;
            font-weight: 500;
            line-height: normal;
            letter-spacing: 0.28px;
        }

        &:hover,
        &:hover {
            color: $link-color;
        }

        &::after,
        &::after {
            content: "";
            height: 4px;
            border-radius: 2px;
            background: $link-color;
            display: none;
            position: absolute;
            top: 45px;
            left: 0;
            width: 100%;
            transform: scale(100%, 100%);

        }

        &:hover::after,
        &:hover::after {
            display: block;
        }

    }


    &__portfolio {
        color: $link-color;
        font-family: Roboto;
        position: relative;



        @media screen and (min-width: 480px) {}

        @media screen and (min-width: 768px) {
            font-weight: 500;
            font-size: 14px;
            letter-spacing: 0.02em;
            color: $title-color;
            position: relative;
            display: block;
            color: $link-color;
        }

        @media screen and (min-width: 1280px) {
            letter-spacing: 0.28px;
            color: $link-color;
        }

        &::after {
            content: "";
            height: 4px;
            border-radius: 2px;
            background: $link-color;
            position: absolute;
            top: 45px;
            left: 0;
            width: 72px;
            display: block;
            width: 100%;


        }
    }

    &__connection {
        display: none;



        @media screen and (min-width: 480px) {}

        @media screen and (min-width: 768px) {
            @include flex-position($space: 10px, $direction: column);
            margin-left: 96px;
        }

        @media screen and (min-width: 1280px) {
            margin-left: 315px;
            @include flex-position($space: 30px, $direction: row);
        }

    }

    &__think {
        display: none;
        @extend %transition;


        @media screen and (min-width: 480px) {}

        @media screen and (min-width: 768px) {
            @include flex-position($space: 8px);
        }

        @media screen and (min-width: 1280px) {
            @include flex-position($space: 10px);
        }

        &:hover {
            color: $link-color;

        }
    }

    &__svg {
        fill: #757575;
    }

    &__svg-envelope {

        @extend %transition;
        display: none;


        @media screen and (min-width: 480px) {}

        @media screen and (min-width: 768px) {
            width: 10px;
            height: 14px;
            display: block;
        }

        @media screen and (min-width: 1280px) {
            width: 16px;
            height: 12px;
        }


        &:hover {
            fill: $svg-hover-fill
        }

    }





    &__svg-smartphone {
        display: none;
        @extend %transition;


        @media screen and (min-width: 480px) {}

        @media screen and (min-width: 768px) {
            width: 10px;
            height: 14px;
            display: block;
        }

        @media screen and (min-width: 1280px) {
            width: 16px;
            height: 12px;
        }

        &:hover {
            fill: $svg-hover-fill;

        }
    }

    &__email {

        display: none;
        @extend %transition;


        @media screen and (min-width: 480px) {}

        @media screen and (min-width: 768px) {
            font-weight: 500;
            font-size: 12px;
            letter-spacing: 0.02em;
            color: #757575;
            font-family: Roboto;
            display: block;
        }

        @media screen and (min-width: 1280px) {
            letter-spacing: 0.28px;
            font-size: 14px;
        }

        &:hover {
            color: $link-color;
        }
    }

    &__number {
        display: none;
        @extend %transition;


        @media screen and (min-width: 480px) {}

        @media screen and (min-width: 768px) {
            font-weight: 500;
            font-size: 12px;
            letter-spacing: 0.02em;
            color: #757575;
            font-family: Roboto;
            display: block;
        }

        @media screen and (min-width: 1280px) {
            letter-spacing: 0.28px;
            font-size: 14px;
        }

        &:hover {
            color: $link-color;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: 0.28px;
        }
    }



    &__burger {



        @media screen and (min-width: 480px) {}

        @media screen and (min-width: 768px) {
            display: none;
        }

        @media screen and (min-width: 1280px) {}

    }

    &__burger-svg {
        width: 24px;
        height: 16px;
        background-color: transparent;


        @media screen and (min-width: 480px) {}

        @media screen and (min-width: 768px) {
            display: none;
        }

        @media screen and (min-width: 1280px) {}
    }



}