* {
    box-sizing: border-box;
}

li {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

button {
    border: none;
    cursor: pointer;
    display: block;
    background-color: transparent;
}

img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;

}

label,
input,
textarea {
    display: block;
}
svg {
    display: block;
}