$link-color: #2196f3;
$title-color: #212121;
$text-color: #757575;
$accent-color: #fff;
$background-color: rgb(47, 48, 58);
$second-text-color: rgba(255, 255, 255, 0.60);
$svg-fill: #FFFFFF;
$svg-hover-fill: #2196F3;
$button-color: #0c7edb;